/* my-bill-tracker-frontend/src/pages/NotFound.css */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Adjust as needed */
  text-align: center;
  color: #555;
}

.not-found-container h1 {
  font-size: 3em;
  color: #e74c3c;
  margin-bottom: 15px;
}

.not-found-container p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.not-found-container .home-link {
  background-color: #3498db;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.not-found-container .home-link:hover {
  background-color: #2980b9;
}